@import "__colors";

.info {
  position: relative;

  &__wrap {
    position: relative;
    padding-top: 44px;
    padding-bottom: 64px;
    z-index: 1;
  }

  &__filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__group-btn,
  &__favorite {
    display: flex;
    gap: 6px;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 20px 40px;
    background-color: rgba(0, 106, 11, 0.6);
    border-radius: 36px;
    border: none;
    transition: 0.3s;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-weight: 500;

    @media (max-width: 350px) {
      padding: 20px 20px;
    }


    &:hover {
      background-color: rgba(0, 106, 11, 1);
    }

    img {
      width: 30px;
      height: 32px;
      object-fit: cover;
    }

    span {
      color: white;
    }
  }


  &__title {
    font-size: 40px;
    font-weight: 500;
    color: white;
    max-width: 400px;
    margin-bottom: 34px;

    @media (max-width: 750px) {
      font-size: 28px;
    }
  }

  &__price {
    display: block;
    margin-bottom: 150px;
    font-size: 36px;
    font-weight: 700;
    color: white;

    @media (max-width: 750px) {
      margin-bottom: 120px;
    }
  }

  &__favorite {
    background-color: rgba(250, 250, 250, 0.6);
    padding: 18px 20px;

    &:hover {
      background-color: rgba(250, 250, 250, 1);
      color: black;
    }

    @media (max-width: 745px) {
      padding: 25px 25px;
      border-radius: 100%;

      span {
        display: none;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__description-wrap {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-bottom: 64px;

    @media (max-width: 745px) {
      flex-direction: column;
      align-items: flex-start;
    }


    span {
      color: white;
      font-size: 18px;

      @media (max-width: 745px) {
        font-size: 14px;
      }
    }
  }

  &__group-btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__address {
    display: flex;
    flex-direction: column;

    span {
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.description {

  padding-top: 140px;
  padding-bottom: 140px;

  .section-title {
    font-size: 48px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-bottom: 96px;
    border-bottom: 1px solid #aaa5a5;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 90px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 720px;


    span:nth-child(2) {
      font-size: 18px;
      line-height: 32px;
    }
  }

  &__map {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }

  &__map-wrap {
    width: 352px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
  }
}

.object-gallery {
  padding-bottom: 126px;

  a {
    cursor: zoom-in;
  }

  .section-title {
    display: block;
    margin-bottom: 120px;
  }

  .gallery {
    display: flex;
    justify-content: space-between;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 32px;



    img {
      width: 256px;
      height: 256px;
      border-radius: 26px;
      object-fit: cover;
      cursor: zoom-in;
    }
  }

  &__main {
    width: 544px;
    height: 544px;
    border-radius: 26px;
    object-fit: cover;
  }
}