@import "_colors";

.main {
  padding: 82px 0 108px 0;

  @media (max-width: 700px) {
    padding: 40px 0 32px 0;
  }

  .section-title {
    max-width: 620px;
  }

  &__link {
    position: relative;
    font-size: 18px;
    color: $main-green-color;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: "";
      width: 0;
      height: 2px;
      border-radius: 30px;
      background-color: $main-green-color;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &::before {
      position: absolute;
      left: -26px;
      top: 7px;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100px;
      background-color: $main-green-color;
    }

  }

  &__link-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: right;
    list-style-type: none;

    @media (max-width: 900px) {
      text-align: left;
      padding-left: 30px;
    }
  }

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 32px;
    }

    @media (max-width: 700px) {
      padding-bottom: 32px;
    }

  }

  .swiper-button-prev {
    background: url('./icons/ic_arrow-prev.svg') no-repeat;

    &:hover {
      background: url('./icons/ic_arrow-prev-hover.svg') no-repeat;

    }
  }

  .swiper-button-next {
    background: url('./icons/ic_arrow-next.svg') no-repeat;

    &:hover {
      background: url('./icons/ic_arrow-next-hover.svg') no-repeat;

    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 54px;
    height: 54px;
    z-index: 12;

    &::after {
      content: none;
    }
  }

  .swiper-button-next {
    right: 160px;

    @media (max-width: 850px) {
      right: 32px;
    }
  }

  .swiper-button-prev {
    left: 160px;

    @media (max-width: 850px) {
      left: 32px;
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    background: white;
    opacity: 1;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 36px;
    z-index: 12;
  }

  .swiper-pagination-bullet-active::after {
    position: absolute;
    left: -4px;
    top: -4px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: white;
    opacity: 0.5;
  }

  &__slider {
    height: 680px;
    position: relative;

    @media (max-width: 700px) {
      height: 250px;
    }
  }

  &__slider-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    -webkit-box-shadow: 5px -20px 75px 300px rgba(0, 0, 0, 0.59);
    box-shadow: 5px -20px 75px 300px rgba(0, 0, 0, 0.59);

    @media (max-width: 700px) {
      -webkit-box-shadow: 5px -20px 75px 100px rgba(0, 0, 0, 0.59);
      box-shadow: 5px -20px 75px 100px rgba(0, 0, 0, 0.59);
    }

  }

  &__slider-img {
    object-fit: cover;
  }
}

.about {

  .section-title {
    @media (max-width: 630px) {
      text-align: left;
    }
  }

  &__group {
    padding-bottom: 188px;
  }

  &__content {
    display: grid;
    grid-template-columns: 210px 1fr;
    column-gap: 170px;
    row-gap: 64px;
    padding: 85px 0 160px;

    @media (max-width: 900px) {
      column-gap: 60px;
    }

    @media (max-width: 630px) {
      grid-template-columns: 1fr;
      row-gap: 24px;
      padding: 34px 0 134px;

    }

    .green-btn {
      grid-row: 2/2;
      align-self: flex-start;

      @media (max-width: 630px) {
        order: 2;
        grid-row: auto;
      }
    }

  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    max-width: 394px;

    @media (max-width: 630px) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 18px;
    max-width: 600px;

    @media (max-width: 630px) {
      margin-bottom: 32px;
    }
  }

  &__years {
    font-size: 32px;
    text-align: right;

    @media (max-width: 630px) {
      order: 1;
      text-align: left;
      max-width: 210px;
    }
  }
}

.news {
  padding-bottom: 100px;

  &__items-container {
    height: 1300;

    @media (max-width: 560px) {
      height: 1150;
    }
  }

  .item-card {
    width: 100%;
  }

  .green-btn {
    display: block;
    margin: 0 auto;
  }

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
  }

  &__slider-nav {
    display: flex;
    gap: 16px;
  }

  &__next-btn,
  &__prev-btn {
    width: 52px;
    height: 52px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
  }

  &__prev-btn {
    background: url('icons/slider-arrow/ic_prev-white-arrow.svg') no-repeat;

    @media (min-width: 1024px) {

      &:hover {
        background: url('icons/slider-arrow/ic_prev-green-arrow.svg') no-repeat;
      }
    }

    @media (max-width: 1024px) {

      &:active {
        background: url('icons/slider-arrow/ic_prev-green-arrow.svg') no-repeat;
      }
    }
  }

  &__next-btn {
    background: url('icons/slider-arrow/ic_next-white-arrow.svg') no-repeat;

    @media (min-width: 1024px) {

      &:hover {
        background: url('icons/slider-arrow/ic_next-green-arrow.svg') no-repeat;
      }
    }

    @media (max-width: 1024px) {

      &:active {
        background: url('icons/slider-arrow/ic_next-green-arrow.svg') no-repeat;
      }
    }
  }
}