.map {
  position: relative;
  height: calc(100vh - 112px);


  @media (max-width: 1160px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }


  &__wrap {
    height: 100%;

    @media (max-width: 1160px) {
      height: 80vh;
    }
  }

  &__filter-wrap {
    position: absolute;
    left: 32px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 90%;
    width: 450px;
    padding: 56px 56px 56px 15px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;

    @media (max-width: 1160px) {
      position: relative;
      left: 0%;
      margin: 0 auto 32px;
    }

    @media (max-width: 560px) {
      width: 95%;
      padding: 56px 16px 56px 15px;

    }
  }

  &__filter {
    height: 100%;
    padding-left: 32px;
    overflow-y: scroll;
    direction: rtl;
    color: #0A2014;

    &::-webkit-scrollbar {
      background-color: #D9D9D9;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #036A0B;
      border-radius: 20px;
    }
  }

  &__select-wrap {
    margin-bottom: 32px;
  }

  &__title {
    display: block;
    font-size: 32px;
    margin-bottom: 24px;
    text-align: left;
  }

  &__group-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__group-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18px 24px;
    border: 1px solid #C1C1C1;
    border-radius: 25px;
    justify-content: flex-end;
    cursor: pointer;

    .group-input {
      display: none;
    }

    &.active {
      border: 1px solid $main-green-color;

      &.map__group-text {
        color: $main-green-color;
      }
    }
  }

  &__group-icn {
    width: 32px;
    height: 24px;
    object-fit: contain;
  }

  &__group-text {
    font-size: 20px;
    color: #0A2014;
    font-weight: 300;
  }


  & .map__range-input {
    padding: 24px 24px 13px 24px;
    border: 1px solid #C1C1C1;
    border-radius: 30px;
    padding-right: 40px;

  }

  & .map__range-input::-webkit-outer-spin-button,
  & .map__range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }

  &__input-wrap {
    display: flex;
    gap: 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__input-cover {
    width: 50%;
  }

  &__input-cover input {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
  }

  &__input-cover {
    position: relative;
  }

  &__input-cover span {
    position: absolute;
    left: 24px;
    top: 13px;
    font-size: 12px;
    color: #BFBFBF;
  }

  .price-filter-range {
    margin-bottom: 32px;
  }

  &__input-wrap-radio {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 23px;
  }

  &__input-radio {
    width: max-content;
    padding: 18px 22px;
    border: 1px solid #C1C1C1;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;

    &.active {
      border: 1px solid $main-green-color;

      .map__group-text {
        color: $main-green-color;
      }
    }

    input {
      display: none;
    }
  }

  .item-card {
    display: grid !important;
    grid-template-columns: 105px 1fr;
    grid-template-rows: repeat(3, 31px);
    column-gap: 25px;
    width: 100%;
    border-radius: 28px;
    cursor: pointer;
    background-color: #F0F0F0;
    padding: 16px 50px 16px 16px;
    width: 100% !important;
    height: max-content;

    .item-card__price {
      grid-column: 2/2;
    }

    .item-card__img {
      grid-row: 1/4;
      height: auto;
      margin-bottom: 0;
    }
  }

  .gm-style .gm-style-iw-c {
    padding: 0;
    border-radius: 25px;
  }

  .gm-style-iw-a .gm-ui-hover-effect {
    top: 4px !important;
    right: 4px !important;
  }
}

// ===========